/*height: 100vh;*/
@font-face{
	font-family: roboto-regular;
	src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}
@font-face{
	font-family: roboto-bold;
	src: url("../fonts/Roboto-Bold.ttf") format("opentype");
}
@font-face{
	font-family: roboto-italic;
	src: url("../fonts/Roboto-Italic.ttf") format("opentype");
}
@font-face{
	font-family: roboto-thin;
	src: url("../fonts/Roboto-Thin.ttf") format("opentype");
}
body{
	overflow:hidden;
	font-family: "roboto-regular";
}

.full{
	height: 100vh;
	padding: 50px 100px;
}
.full{
	text-align: center;
	line-height: 80vh;
}
.title{
	background: #fff;
}
.miya{
    border-left: 11px solid red;
    margin-left: 15px;
}
.miya .full.row div{
	min-height: 90px;
	font-family: "roboto-thin";
	text-align: center;
}
.two{
	background: green;
}
.three{
	background: yellow,
}
.four{
	background: orange;
}
.five{
	background: blue;
}
.six{
	background: red;
}
.seven{
	background: gray;
}
.seven1{
	background: #fff;
}

.miya h2,
.title h2,
.two h2,
.three h2,
.four h2,
.five h2,
.six h2,
.seven h2,
.seven1 h1{
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.title{
	background: #f5f5f5;
}
.title h2{
	font-size: 50px;
}
.miya{
	background: #fff;
}
.miya h2{
	font-size: 40px;
}
.jobs{
	height: 450px;
}
.three{
	background-image: url("images/pc.png"); 
}
.three h2{
	background: green;
	color: #fff;
}
.seven1 h1{
	font-size: 90px;
}
span{
	font-size: 60px;
	display: block;
	text-transform: capitalize;
	margin-bottom: 30px;
}
input{
    outline: none;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}
a.button{
	height: 46px;
    vertical-align: top;
    font-size: 20px;
    font-weight: 400;
}
.scroll{
	height: 200vh;
}
#scrollable{
	height: 60vh;
    overflow: scroll;
}
.topic{
	padding: 1px 30px;
	display: block;
}
.topic h3{
	text-align: left;
}
.topic h2{
	text-align: center;
	display: block;
}
.hipertexto{
	position: relative;
}
.next{
	position: absolute;
    bottom: 20%;
    right: 5%;
    font-size: 20px;
}